/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Jumbotron */

.pdts-nat-body,
.para-body {
  background-color: rgb(243, 239, 239);
}

.jumbo {
  position: relative;
}

.jumbo-text {
  color: $text-primary;
  position: absolute;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
  width: 100%;
}

.jumbo-text h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.jumbo-text p {
  font-weight: 500;
  font-size: 1.5rem;
  width: 70%;
}

.jumbo-img {
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.para-img {
  height: 100%;
  width: 100%;
  transition: transform 15s ease;
  object-fit: cover;
}

.jumbo-img:hover .para-img {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .jumbotron {
    height: 90vh;
  }

  .jumbo-text h1 {
    font-size: 2rem;
  }

  .jumbo-text p {
    font-size: 1rem;
  }

  .jumbo-img {
    height: 80vh;
  }
}

@media screen and (max-height: 500px) {
  .jumbo-text {
    position: absolute;
    bottom: 2rem;
  }
  .jumbo-text h1 {
    font-size: 2rem;
  }

  .jumbo-text p {
    font-size: 1rem;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Cards laboratoires */

.grid-nat-hidden {
  opacity: 0;
  transform: translateY(2%);
}

.trans {
  transition: 1s;
}

.produits-naturels-grid-container {
  width: fit-content;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.card {
  width: $card-width;
  background-color: white;
  margin: auto;
  height: 12rem;
}

.cardpic {
  width: $card-width;
  height: 12rem;
}

.card-body {
  padding: 0px;
  height: 12rem;
  max-width: $card-width;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(-102%);
  background-color: white;
  opacity: 0;
  transition: 0.8s ease;
}

.card:hover .card-body {
  opacity: 1;
}

.card-body h5 {
  font-size: 1.5rem;
  width: fit-content;
  margin-top: 3.5rem;
  margin-bottom: 0px;
  margin-left: 5%;
  color: $color-primary;
}

.card-body p {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 5%;
  width: 90%;
  color: grey;
}

@media screen and (max-width: 1245px) {
  .produits-naturels-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 874px) {
  .produits-naturels-grid-container {
    grid-template-columns: auto;
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .produits-naturels-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    border: 1px solid lightgray;
  }

  .cardpic {
    width: 19.8rem;
    border-bottom: 1px solid lightgray;
  }

  .card-body {
    height: 8rem;
    transform: translateY(0%);
    opacity: 1;
    padding-top: 1rem;
  }

  .card-body h5 {
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .card-body p {
    font-size: 0.8rem;
  }
}
